{% extends "base.html" %}
{% block title %}Project{% endblock %}
{% block subtitle %}
    <strong>빅 데이터/인공 지능</strong> 
    <small>세계에 오신 것을 환영합니다.
    <span style="color: red;"><i class="fa-solid fa-hand-holding-heart"></i></span></small>
{% endblock %}
{% block content %}
    <div class="container mt-3">
        <div class="mt-4 mb-4 p-5 bg-success text-white rounded" style="text-align: center;">
            <h1>강한 투수들 계속 만나는 거</h1> 
            <p>계속 만나서 적응해야해요<br>
                포시에서는 강한 투수들만 만나요. 그것도 푹쉰 상태의 강한 투수들<br>
                이제 30여게임 남았는데<br>
                상대 투수가 강하든 말든 이기는 그림을 잘 그려놔야합니다.<br>
                어제경기가 왠지 좋은 샘플이 될것 같아요.<br>
                짜내고, 적시에 쳐주고, 투수들이 막아주고</p> 
        </div>
        <div class="row">
            <div class="col-6">
                <div class="h-100 p-5 bg-dark text-white rounded-3">
                    <h2>강한 투수들</h2>
                    <p>계속 만나서 적응해야해요<br>
                        포시에서는 강한 투수들만 만나요.<br>
                        이제 30여게임 남았는데<br></p>
                    <button class="btn btn-outline-light" type="button">Example button</button>
                </div>
            </div>
            <div class="col-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>계속 만나는 거</h2>
                    <p>상대 투수가 강하든 말든<br>
                        이기는 그림을 잘 그려놔야 합니다.<br>
                        어제경기가 왠지 좋은 샘플이 될것 같아요.<br>
                        짜내고, 적시에 쳐주고, 투수들이 막아주고</p>
                    <button class="btn btn-outline-secondary" type="button">Example button</button>
                </div>
            </div>
        </div>
      
    </div>
{% endblock %}
