{% extends "base.html" %}
{% block title %}아이리스 분류{% endblock %}
{% block additional_head %}
    <style>
        td { text-align: center; }
    </style>
{% endblock %}
{% block subtitle %}
    <strong>아이리스(입력 화면)</strong>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <form action="/iris" method="POST">
                <table class="table table-borderless">
                    <tr>
                        <td>Sepal Length</td>
                        <td><input class="form-control" type="text" name="sl"></td>
                    </tr>
                    <tr>
                        <td>Sepal Width</td>
                        <td><input class="form-control" type="text" name="sw"></td>
                    </tr>
                    <tr>
                        <td>Petal Length</td>
                        <td><input class="form-control" type="text" name="pl"></td>
                    </tr>
                    <tr>
                        <td>Petal Width</td>
                        <td><input class="form-control" type="text" name="pw"></td>
                    </tr>
                    <tr>
                        <td>품종</td>
                        <td>
                            {% for option in options %}
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input mb-2" name="species" value="{{loop.index0}}"
                                        {% if loop.first %}checked{% endif %}> {{option}}
                                </label>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary mr-2">실행</button>
                            <button type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
{% endblock %}