{% extends "base.html" %}
{% block subtitle %}
    <strong>Spinner 작동</strong>
{% endblock %}
{% block content %}
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="d-flex align-items-center">
                <img src="{{url_for('static', filename='img/please-wait.gif')}}" alt="실행중">
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <form style="display: none" action="/menu_res" method="POST" id="form">
        <input type="hidden" name="fname" value="{{fname}}"/>
    </form>
{% endblock %}
{% block additional_body %}
    <script>
        window.onload = function() {
            const form = document.getElementById('form');
            form.submit();
        }
    </script>
{% endblock %}